# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.wheel

# Virtual environments
env/
venv/
ENV/
VENV/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# Flask stuff:
instance/
*.db

# Scrapy stuff:
.scrapy/

# Sphinx documentation
docs/_build/

# Environments files
.env
*.env

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# MacOS system files
.DS_Store
